<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header-2">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/CrearCuenta">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/Login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/MisCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fa fa-bars burguer"></i>
        </div>
    </header>
    <main class="main-register">
        <form action="" method="" class="register-box">
            <section>
                <input type="text" name="nameSurname" id="nameSurname" placeholder="Nombre y Apellido" required>
            </section>
            <section>
                <input type="text" name="username" id="username" placeholder="Nombre de Usuari@" required>
            </section>
            <section>
                <input type="email" name="email" id="email" placeholder="E-mail" required>
            </section>
            <section>
                <label for="birthDay">Fecha de nacimiento</label>
                <input type="date" name="birthDay" id="birthDay" required>
            </section>
            <section>
                <input type="text" name="adress" id="adress" placeholder="Domicilio" required>
            </section>
            <section>
                <label for="userType">Perfil de Usuario</label>
                <div class="userTypeBox">
                    <input type="radio" name="userType" id="buyer">
                    <p>Comprador</p>
                    <input type="radio" name="userType" id="seller">
                    <p>Vendedor</p>
                </div>
            </section>
            <section>
                <label for="interests">Intereses</label>
                <div class="userInterest">
                    <input type="checkbox" name="interest1" id="electro">
                    <p>Electro</p>
                    <input type="checkbox" name="interest2" id="moda">
                    <p>Moda</p>
                    <input type="checkbox" name="interest3" id="hogar">
                    <p>Hogar</p>
                    <input type="checkbox" name="interest4" id="juguetes">
                    <p>Jugueteria</p>
                    <input type="checkbox" name="interest5" id="salud">
                    <p>Vida Sana</p>
                </div>
            </section>
            <section>
                <label for="profilePhoto">Foto de Usuario</label>
                <input type="file" name="profilePhoto" id="profilePhoto">
            </section>
            <section>
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </section>
            <section>
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmar Contraseña">
            </section>
            <button type="submit" onclick="location.href='/'">Enviar</button>
            <button type="reset">Borrar</button>
        </form>

    </main>

    <footer>
        <section class="section-footer">
            <i class="fas fa-credit-card"></i>
            <h1>Pagá con tarjeta o efectivo</h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Ysiempre es seguro! </p>
        </section>

        <section class="section-footer">
            <i class="fas fa-gift"></i>
            <h1>Envío gratis desde los $2500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="section-footer">
            <i class="fas fa-user-shield iconsFooter"></i>
            <h1>Seguridad de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
       
    
</body>
</html>